{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="header">Allowance Payments</h1>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Pay Period</th>
                        <th>Mobile Allowance</th>
                        <th>Travel Allowance</th>
                        <th>Housing Allowance</th>
                        <th>Medical Allowance</th>
                        <th>Uniform Allowance</th>
                        <th>Other Allowance</th>
                        <th>Total Allowance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in allowance_payments %}
                    <tr>
                        <td>{{ payment.employee.first_name }} {{ payment.employee.last_name }}</td>
                        <td>{{ payment.pay_period }}</td>
                        <td>${{ payment.mobile_allowance_payment }}</td>
                        <td>${{ payment.travel_allowance_payment }}</td>
                        <td>${{ payment.housing_allowance_payment }}</td>
                        <td>${{ payment.medical_allowance_payment }}</td>
                        <td>${{ payment.uniform_allowance_payment }}</td>
                        <td>${{ payment.other_allowance_payment }}</td>
                        <td>${{ payment.total_allowance_payment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
