

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-uppercase font-weight-bold text-secondary ">Deleting {{ company_ss_deduction.percentage }} </h2>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Are you sure you want to delete the  "{{ company_ss_deduction.percentage}}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'company_ss_deduction_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}