{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Employee History</h1>
    <h2>{{ employee }}</h2>
    <ul>
        {% for history_record in history %}
            <li>
                Changed by: {{ history_record.history_user }},
                Date: {{ history_record.history_date }},
                Field: {{ history_record.field_name }},
                Old Value: {{ history_record.old_value }},
                New Value: {{ history_record.new_value }}
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
